/*common style*/
.icon {
  display: inline-block;
  width: 1em;
  height: 1em;
  stroke-width: 0;
  stroke: currentColor;
  fill: currentColor;
}

.title {
    font-family: 'Baloo Paaji', cursive, sans-serif;
    color: #2d3c49;
}

.footer-title {
    color: #7d97ad;
}
/*end*/

/*structure of phone page*/
.container {
    display: flex;
    flex-wrap: wrap;
}

.logo,.title{
    width: 100%;
}
/*end*/

/*stytle of phone page*/
figure {
    text-align: center;
}

.icon-cartoon {
  font-size: 100px;
  color: #02b3e4;
  margin-left: calc((100% - 100px)/2);
}

img {
    width: calc(100% -20px)/2);
    margin-left: 10px;
}
/*end*/

/*> 700w*/
@media screen and (min-width: 1000px) {
    .one,.two,.three{
        width: 23%;
    }
    .logo,.title{
        width: 50%;
    }
    .icon-cartoon {
        margin: 10px;
    }
}
